@font-face {
    font-family: 'Instrument Sans';
    src: url(../font/InstrumentSans_SemiCondensed-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url(../font/InstrumentSans_Condensed-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url(../font/InstrumentSans_SemiCondensed-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}


.pathsSection {
    padding-bottom: 48px;
}

.pathsTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 8px;
}

.pathsSubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}

.pathsGrid {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pathsContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pathsCard {
    background-color: #1E1E1E;
    max-width: 300px;
    width: 100%;
    position: relative;
    padding: 24px 0 0 0;
    margin-bottom: 16px;
}

.pathsCardTitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FD6A07;
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 3%;
}

.pathsCardList {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pathsCardList li {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: white;
}

.pathsCardImg {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-left: -px;
}

.pathsGrid__images img {
    position: absolute;
}

.pathsGrid__images img:nth-child(1) {
    top: -3px;
    left: -3px;
    transform: rotate(270deg);
}

.pathsGrid__images img:nth-child(2) {
    top: -3px;
    right: -3px;
}

.pathsGrid__images img:nth-child(3) {
    bottom: -3px;
    left: -3px;
    transform: rotate(180deg);
}

.pathsGrid__images img:nth-child(4) {
    bottom: -3px;
    right: -3px;
    transform: rotate(90deg);
}

.pathsCard--after {
    background-color: white;
}

.pathsBtn {
    max-width: 302px;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #FF6700;
    box-shadow: 0px 4px 0px 0px #9A4003, 0px 4px 4px 0px #FFFFFF40 inset, 0px -4px 4px 0px #FFFFFF26 inset, 0px 4px 20px 0px #FD6A0780;
    padding: 31px 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
    text-shadow: 0px 1px 2px 0px #00000026;
    text-transform: uppercase;
}


.topicsSection {
    padding-bottom: 48px;
}

.topicsContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
}

.topicsGrid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.topicsGrid img {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.topicsCard {
    display: flex;
    align-items: center;
    margin-left: 60px;
    max-width: 310px;
    width: 100%;
    color: white;
    gap: 104px;
}

.topicsCardNum {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    opacity: 70%;
}

.topicsCardTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}


.programSection {
    padding-bottom: 42px;
}

.programTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.programTab {
    border: 1px solid #FD6A07;
    border-radius: 5px;
    max-width: 84px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4%;
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 8px;
    margin-bottom: 16px;
}

.programTab.active {
    background-color: #FD6A07;
    color: white;
}

.programPanel {
    display: none;
}

.programPanel.active {
    display: block;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: white;
}


.resultsSection {
    padding-bottom: 48px;
}

.resultsSlider {
    margin-bottom: 30px;
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.resultsSlider::-webkit-scrollbar {
    display: none;
}

.resultsSlide {
    background-color: white;
    border-radius: 15px;
    flex: 0 0 100%;
    scroll-snap-align: center;
    display: flex;
}

.resultsSlidePhoto {
    background-color: #DCDCDC;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 116px;
    position: relative;
    width: 100%;
}

.resultsSlidePhoto p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.resultsSlideCompare {
    padding: 16px 0 8px 8px;
}

.resultsSlideCompare p {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}

.resultsDots {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    margin-bottom: 16px;
}

.whySection {
    padding-bottom: 32px;
}

.whyStats {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 342px;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.whyStatNum {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FD6A07;
    margin-bottom: 4px;
}

.whyStatLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: white;
}

.whyCta {
    background-image: url(../images/bgs.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    max-width: 326px;
    padding: 24px 0 22px 0;
    width: 100%;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

.whyCtaTitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.whyCtaArrows {
    margin-left: 230px;
    margin-bottom: 5px;
}

.pathsBtn {}

@media (max-width:400px) {
    .topicsCard {
        margin-left: 30px;
    }
}

@media (max-width:350px) {
    .topicsCard {
        margin-left: 0px;
        gap: 90px;
    }
    .pathsTitle {
        font-size: 31px;
    }
}

.homeModal,
.homeModalOverlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0;
}

.homeModal {
    z-index: 30;
    justify-content: center;
    align-items: center;
    display: flex;
}   

.homeModalOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.homeFormContainer {
    position: relative;
    z-index: 30;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 20px 40px 40px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeFormTop {
    display: flex;
    justify-content: space-between;
}

.homeFormTopTitle {
    font-family: Inter, sans-serif;
    font-size: clamp(21px, 6.6vw, 24px);
    margin: 0 0 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.closeButton {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
}

.homeFormErrorText {
    color: #e53e3e;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.HomeFormRowInput,
.HomeFormRowLabel {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 18px;
}

.HomeFormRow {
    margin-bottom: 20px;
}

.HomeFormRowLabel {
    display: block;
    margin-bottom: 6px;
    color: #000;
}

.HomeFormRowInput {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #c9c9c9;
    min-height: 48px;
    background-color: #f3f7f8;
    border-radius: 6px;
    font-weight: 400;
    outline: 0;
    height: 50px;
    transition: border-color 0.2s;
}

.HomeFormRowInput:focus {
    border-color: #D40000;
}

.HomeFormRowInput::placeholder {
    color: #aaa;
}

.HomeFormBtn {
    font-family: sans-serif;
    height: 60px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FF6700;
    transition: 0.3s;
    font-weight: 700;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-input-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #c9c9c9;
    background-color: transparent;
    border-radius: 6px;
}

.phone-input-container:focus {
    border-color: #e71f1f;
}

.selected-code {
    display: flex;
    margin-left: 10px;
}

.country-selector {
    position: relative;
    margin-right: 10px;
}

.selected-country {
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    border-radius: 6px;
    cursor: pointer;
    min-height: 50px;
    font-family: sans-serif !important;
    font-size: 18px;
    font-weight: 400 !important;
    min-width: max-content;
    border: none;
    background-color: transparent;
}

.country-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 40;
    max-height: 200px;
    overflow-y: auto;
    font-family: sans-serif !important;
    font-weight: 400 !important;
}

.country-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400 !important;
}

.country-option:hover {
    background-color: #f3f7f8;
}

.country-option.selected {
    background-color: #e6f0fa;
}

@media screen and (max-width: 768px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100vh;
    }

    .homeFormTopTitle {
        text-align: center;
        max-width: 408px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .homeFormTop {
        flex-direction: column;
        align-items: flex-start;
    }

    .closeButton {
        width: 100%;
        height: 50px;
        background-color: #000;
        color: #fff;
        padding-right: 20px;
        top: 0;
        left: 0;
        justify-content: end;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        padding: 0 12px;
        min-height: 40px;
        background-color: transparent;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .HomeFormBtn {
        font-size: 18px;
        font-weight: 700;
        margin-top: 24px;
    }
}

@media screen and (max-width: 480px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100vh;
    }

    .homeFormTopTitle {
        text-align: center;
        margin: 0 auto 15px;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        padding: 0 12px;
        min-height: 40px;
        background-color: transparent;
        border-radius: 10px;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .HomeFormBtn {
        font-size: 16px;
        padding: 10px 0;
        margin-top: 24px;
        height: 50px;
    }
}